PORT=
MONGODB_URL=

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_EXPIRES_IN=

REMINDER_TRIGGER_URL=https://homecart-backend-zb8p.onrender.com/notifications/internal/high-priority-reminders
REMINDER_TIMEZONE=Australia/Sydney
FORCE_REMINDER_RUN=false
HIGH_PRIORITY_REMINDERS_ENABLED=false
CRON_SECRET=